@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home";
}



<!DOCTYPE html>
<html>
<head>
    <title>​ℂ𝕠𝕞𝕚𝕔𝕤 𝕓𝕠𝕠𝕜 𝕤𝕥𝕠𝕣𝕖​</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>ℂ𝕠𝕞𝕚𝕔𝕤 𝕓𝕠𝕠𝕜 𝕤𝕥𝕠𝕣𝕖</h1>

    </header>

    <main>

        <iframe src="https://giphy.com/embed/3MTQxYZeiDm12" width="600" height="700" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/studio-ghibli-hayao-miyazaki-3MTQxYZeiDm12"></a></p>





    </main>



</body>
</html>

